**Day 1: Variable Practical Problems.**

1️⃣ Personal Info Storage
Create variables to store your:

Name

Age

City

Dream profession

Then print them one by one.

In [ ]:
name="Malaika Arshad"
age=25
city="Faisalabad"
dream_profession="I want to become a data scientist expert one day In Shaa Allah by the grace of Allah Almighty and after that my determinations and hard work."
print(f"My name is {name}.")
print(f"I'm {age} years old.")
print(f"I live in {city}.")
print(f"My dream profession is {dream_profession}.")

My name is Malaika Arshad.
I'm 25 years old.
I live in Faisalabad.
My dream profession is I want to become a data scientist expert one day In Shaa Allah by the grace of Allah Almighty and after that my determinations and hard work..

2️⃣ Simple Math Operations

Create two variables num1 and num2 with any numbers.
Then print:

Their sum

Difference

Product

Division

In [ ]:
num1=23
num2=36
print(f"Their sum is {num1+num2}.")
print(f"Their difference is {num1-num2}.")
print(f"Their product is {num1*num2}.")
print(f"Their division is {num1/num2}.")

Their sum is 59.
Their difference is -13.
Their product is 828.
Their division is 0.6388888888888888.

3️⃣ Area of a Rectangle.

Write a program that calculates the area of a rectangle using variables length and width.

In [ ]:
length=23
width=12
print(f"The area of the rectangle is {length*width}.")

The area of the rectangle is 276.

4️⃣ Temperature Conversion.

Store a temperature in Celsius in a variable and convert it to Fahrenheit.

In [ ]:
temperature_celsius=45
farenheit=(temperature_celsius * 9/5)+32
print(f"Temperature in farenheit is {farenheit}.")

Temperature in farenheit is 113.0.

5️⃣ Student Marks Average.


Create 3 variables: math_marks, english_marks, science_marks.
Calculate the average marks

In [ ]:
math_marks=98
english_marks=89
science_marks=90
average_marks=(math_marks+english_marks+science_marks)/3
average_marks_rounded=round(average_marks,2)
print(f"The average marks is {average_marks_rounded}.")

The average marks is 92.33.

6️⃣ Simple Salary Calculator.

Create variables:

basic_salary

bonus

tax

Find total_salary

In [ ]:
basic_salary=90000
bonus=10000
tax=8000
salary_calculator=basic_salary+bonus-tax
print(f"My total salary is Rs {salary_calculator}.")

My total salary is Rs 92000.

7️⃣ Shop Bill Calculation.


Imagine you’re running a small shop.
Store the prices of 3 products and the quantities bought.
Find total bill.

In [ ]:
quantity1=90
price1=900
quantity2=23
price2=4000
quantity3=20
price3=2000
bill_calculator=(quantity1*price1)+(quantity2*price2)+(quantity3*price3)
print(f"Total bill of shop Rs {bill_calculator}.")

Total bill of shop Rs 213000.

8️⃣ BMI Calculator (Health Project Idea).

Create variables:

weight_kg

height_m

Print your BMI rounded to 2 decimals.

In [ ]:
weight_kg=47
# formula for ft into m= 5.6*0.3048
height_m=1.70688
bmi=weight_kg/height_m**2
bmi_round=round(bmi,2)
print(f"My BMI is {bmi_round}.")

My bmi is bmi 16.13

9️⃣ Your First Real Data Science-Like Example

You’re studying weather data in Faisalabad ☀️

Create variables for:

today_temperature

humidity_level

wind_speed_kmh

In [ ]:
today_temperature=45
humidity_level=50
wind_speed_kmh=10
print(f"The temperature of Faisalabad is {today_temperature}\u00B0C, humidity level {humidity_level}%, wind speed {wind_speed_kmh}km/h." )

The temperature of Faisalabad is 45°C, humidity level 50, wind speed 10.